.LoginForm {
  padding: 15px 20px;
}
.LoginForm-prop {
  margin: 20px 0;
}

.LoginForm-input {
  width: 192px;
  padding: 3px;

}

.LoginForm-label{
  display: block;
}

.LoginForm-error {
  margin: 20px 0;
  color: #FF0000;
}
