.Modal {
  background: #fff;
  min-width: 960px;
  min-height: 300px;
  padding: 0 0 90px;
  border-radius: 10px;
  overflow: hidden;
}

.Modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal_close {
  display: none;
}
